<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegistrationService</servlet-name>
        <servlet-class>partha.explorer.service.RegistrationService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQueryService</servlet-name>
        <servlet-class>partha.explorer.service.SearchQueryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLocationService</servlet-name>
        <servlet-class>partha.explorer.service.CreateLocationService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRouteService</servlet-name>
        <servlet-class>partha.explorer.service.CreateRouteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserByNameService</servlet-name>
        <servlet-class>partha.explorer.service.SearchUserByNameService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUserService</servlet-name>
        <servlet-class>partha.explorer.service.GetAllUserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserService</servlet-name>
        <servlet-class>partha.explorer.service.UpdateUserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRouteService</servlet-name>
        <servlet-class>partha.explorer.service.UpdateRouteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequestService</servlet-name>
        <servlet-class>partha.explorer.service.SendRequestService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserService</servlet-name>
        <servlet-class>partha.explorer.service.GetUserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestService</servlet-name>
        <servlet-class>partha.explorer.service.UpdateRequestService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogService</servlet-name>
        <servlet-class>partha.explorer.service.BlogService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogIdSpecificService</servlet-name>
        <servlet-class>partha.explorer.service.BlogIdSpecificService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearchService</servlet-name>
        <servlet-class>partha.explorer.service.BlogSearchService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationService</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQueryService</servlet-name>
        <url-pattern>/SearchQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLocationService</servlet-name>
        <url-pattern>/CreateLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRouteService</servlet-name>
        <url-pattern>/CreateRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserByNameService</servlet-name>
        <url-pattern>/SearchUserByNameService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUserService</servlet-name>
        <url-pattern>/GetAllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserService</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRouteService</servlet-name>
        <url-pattern>/UpdateRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequestService</servlet-name>
        <url-pattern>/SendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserService</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestService</servlet-name>
        <url-pattern>/UpdateRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogService</servlet-name>
        <url-pattern>/Blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogIdSpecificService</servlet-name>
        <url-pattern>/BlogIdSpecific</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSearchService</servlet-name>
        <url-pattern>/BlogSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
